.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# Project exclude paths
**/cmake-build-uno/
**cmake-build-debug/
**.vscode/
**.pio/

#**.idea/

CMakeListsPrivate.txt
cmake-build-nano/Arduino_Temperature_Fan_Speed_Controller01.cbp
cmake-build-nano/CMakeCache.txt
cmake-build-nano/CMakeFiles/3.17.3/
cmake-build-nano/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-nano/CMakeFiles/CMakeError.log
cmake-build-nano/CMakeFiles/CMakeOutput.log
cmake-build-nano/CMakeFiles/CMakeRuleHashes.txt
cmake-build-nano/CMakeFiles/CMakeTmp/
cmake-build-nano/CMakeFiles/Debug.dir/
cmake-build-nano/CMakeFiles/Makefile.cmake
cmake-build-nano/CMakeFiles/Makefile2
cmake-build-nano/CMakeFiles/Production.dir/
cmake-build-nano/CMakeFiles/TargetDirectories.txt
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/lib/
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/objects1.rsp
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
cmake-build-nano/CMakeFiles/Z_DUMMY_TARGET.dir/src/
cmake-build-nano/CMakeFiles/clion-environment.txt
cmake-build-nano/CMakeFiles/clion-log.txt
cmake-build-nano/CMakeFiles/cmake.check_cache
cmake-build-nano/CMakeFiles/progress.marks
cmake-build-nano/Makefile
cmake-build-nano/cmake_install.cmake
cmake-build-nanoatmeg328/Arduino_Temperature_Fan_Speed_Controller01.cbp
cmake-build-nanoatmeg328/CMakeCache.txt
cmake-build-nanoatmeg328/CMakeFiles/3.17.3/
cmake-build-nanoatmeg328/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-nanoatmeg328/CMakeFiles/CMakeError.log
cmake-build-nanoatmeg328/CMakeFiles/CMakeOutput.log
cmake-build-nanoatmeg328/CMakeFiles/CMakeRuleHashes.txt
cmake-build-nanoatmeg328/CMakeFiles/CMakeTmp/
cmake-build-nanoatmeg328/CMakeFiles/Debug.dir/
cmake-build-nanoatmeg328/CMakeFiles/Makefile.cmake
cmake-build-nanoatmeg328/CMakeFiles/Makefile2
cmake-build-nanoatmeg328/CMakeFiles/Production.dir/
cmake-build-nanoatmeg328/CMakeFiles/TargetDirectories.txt
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/DependInfo.cmake
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/build.make
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/cmake_clean.cmake
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/depend.make
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/flags.make
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/lib/
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/link.txt
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/objects1.rsp
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/progress.make
cmake-build-nanoatmeg328/CMakeFiles/Z_DUMMY_TARGET.dir/src/
cmake-build-nanoatmeg328/CMakeFiles/clion-environment.txt
cmake-build-nanoatmeg328/CMakeFiles/clion-log.txt
cmake-build-nanoatmeg328/CMakeFiles/cmake.check_cache
cmake-build-nanoatmeg328/CMakeFiles/progress.marks
cmake-build-nanoatmeg328/Makefile
cmake-build-nanoatmeg328/cmake_install.cmake
CMakeLists.txt